doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Countdown

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Spectral:wght@700;800&display=swap")
        link(rel="stylesheet", href="assets/css/style.min.css")
        link(rel="manifest", href="manifest.json")
    body 
        .main 
            h1 #USDGRAD21
            #countdown
        script(src="src/js/app.min.js") 
    
        